<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AP1</servlet-name>
        <servlet-class>AP1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AP2</servlet-name>
        <servlet-class>AP2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AP3_1</servlet-name>
        <servlet-class>AP3_1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AP3_2</servlet-name>
        <servlet-class>AP3_2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AP3_3</servlet-name>
        <servlet-class>AP3_3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AP4</servlet-name>
        <servlet-class>AP4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AP5</servlet-name>
        <servlet-class>AP5</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BP1</servlet-name>
        <servlet-class>BP1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AP1</servlet-name>
        <url-pattern>/AP1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AP2</servlet-name>
        <url-pattern>/AP2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AP3_1</servlet-name>
        <url-pattern>/AP3_1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AP3_2</servlet-name>
        <url-pattern>/AP3_2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AP3_3</servlet-name>
        <url-pattern>/AP3_3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AP4</servlet-name>
        <url-pattern>/AP4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AP5</servlet-name>
        <url-pattern>/AP5</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BP1</servlet-name>
        <url-pattern>/BP1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
