/Semester 5/ECJ/FirstServletProject/nbproject/private/
/Semester 5/ECJ/FirstServletProject/build/
/Semester 5/Software Testing/Counter/nbproject/private/
/Semester 5/Software Testing/Counter/build/
/Semester 5/Software Testing/AP3-4/nbproject/private/
/Semester 5/Software Testing/AP3-4/build/
/Semester 5/ECJ/JSP_Lab/nbproject/private/
/Semester 5/ECJ/JSP_Lab/build/
/Semester 5/ECJ/StrutsLab/nbproject/private/
/Semester 5/ECJ/StrutsLab/build/
/Semester 5/Software Testing/ParameterizedPrimeChecker/nbproject/private/
/Semester 5/Software Testing/EjbServer/nbproject/private/
/Semester 5/Software Testing/EjbServer/EjbServer-war/nbproject/private/
/Semester 5/Software Testing/EjbServer/EjbServer-ejb/nbproject/private/
/Semester 5/ECJ/EjbLibrary/nbproject/private/
/Semester 5/ECJ/EjbServer/nbproject/private/
/Semester 5/ECJ/EjbServer/build/
/Semester 5/ECJ/EjbLibrary/build/
/Semester 5/ECJ/EjbLibrary/dist/
/Semester 5/ECJ/EjbServer/dist/
/Semester 5/ECJ/EjbAppClient/nbproject/private/
/Semester 5/ECJ/EjbAppClient/build/
/Semester 5/ECJ/EjbAppClient/dist/
/Semester 5/ECJ/BankingOperationsStruts/nbproject/private/
/Semester 5/ECJ/BankingOperationsStruts/build/
/Semester 5/ECJ/EJBModule1/nbproject/private/
/Semester 5/ECJ/EJBModule1/build/
/Semester_5/ECJ/BankingOperationsStruts/build/
/Semester_5/ECJ/BankingOperationsStruts/nbproject/private/
/Semester_5/ECJ/EjbLibrary/build/
/Semester_5/ECJ/EjbLibrary/dist/
/Semester_5/ECJ/EjbLibrary/nbproject/private/
/Semester_5/ECJ/EjbServer/build/
/Semester_5/ECJ/EjbServer/nbproject/private/
/Semester_5/ECJ/FirstServletProject/build/
/Semester_5/ECJ/FirstServletProject/nbproject/private/
/Semester_5/ECJ/JSP_Lab/build/
/Semester_5/ECJ/JSP_Lab/nbproject/private/
/Semester_5/ECJ/StrutsLab/build/
/Semester_5/ECJ/StrutsLab/nbproject/private/
/Semester_5/Software Testing/AP3-4/build/
/Semester_5/Software Testing/AP3-4/nbproject/private/
/Semester_5/Software Testing/ParameterizedPrimeChecker/nbproject/private/
/Semester_5/ECJ/EjbAppClient/nbproject/private/
/Semester_5/ECJ/EjbAppClient/dist/
/Semester_5/ECJ/EjbAppClient/build/
/Semester_5/ECJ/EjbWebClient/nbproject/private/
/Semester_5/ECJ/EjbWebClient/build/
/Semester_5/ECJ/EnterpriseApplication/nbproject/private/
/Semester_5/ECJ/EnterpriseApplication/EnterpriseApplication-war/nbproject/private/
/Semester_5/ECJ/EnterpriseApplication/EnterpriseApplication-ejb/nbproject/private/
/Semester_5/ECJ/EnterpriseApplication/EnterpriseApplication-war/build/
/Semester_5/ECJ/EnterpriseApplication/EnterpriseApplication-ejb/dist/
/Semester_5/ECJ/EnterpriseApplication/EnterpriseApplication-ejb/build/
/Semester_5/ECJ/EnterpriseApplication/build/
/Semester_5/ECJ/EnterpriseApplication/EnterpriseApplication-war/dist/
/Semester_5/ECJ/EnterpriseApplication/dist/
/Semester_5/ECJ/EjbServer/dist/
/Semester_5/ECJ/StudentGradeEnterpriseApplication/nbproject/private/
/Semester_5/ECJ/StudentGradeEnterpriseApplication/StudentGradeEnterpriseApplication-war/nbproject/private/
/Semester_5/ECJ/StudentGradeEnterpriseApplication/StudentGradeEnterpriseApplication-ejb/nbproject/private/
/Semester_5/ECJ/StudentGradeEnterpriseApplication/StudentGradeEnterpriseApplication-ejb/build/
/Semester_5/ECJ/StudentGradeEnterpriseApplication/StudentGradeEnterpriseApplication-war/build/
/Semester_5/ECJ/StudentGradeEnterpriseApplication/build/
/Semester_5/ECJ/StudentGradeEnterpriseApplication/StudentGradeEnterpriseApplication-ejb/dist/
/Semester_5/ECJ/StudentGradeEnterpriseApplication/StudentGradeEnterpriseApplication-war/dist/
/Semester_5/ECJ/StudentGradeEnterpriseApplication/dist/
/Semester_5/ECJ/BankEnterpriseApplication/nbproject/private/
/Semester_5/ECJ/BankEnterpriseApplication/BankEnterpriseApplication-war/nbproject/private/
/Semester_5/ECJ/BankEnterpriseApplication/BankEnterpriseApplication-ejb/nbproject/private/
/Semester_5/ECJ/BankEnterpriseApplication/BankEnterpriseApplication-ejb/build/
/Semester_5/ECJ/BankEnterpriseApplication/BankEnterpriseApplication-war/build/
/Semester_5/ECJ/BankEnterpriseApplication/build/
/Semester_5/ECJ/BankEnterpriseApplication/BankEnterpriseApplication-ejb/dist/
/Semester_5/ECJ/BankEnterpriseApplication/BankEnterpriseApplication-war/dist/
/Semester_5/ECJ/BankEnterpriseApplication/dist/
/Semester_5/ECJ/AP2/nbproject/private/
/Semester_5/ECJ/AP2/build/
/Semester_5/ECJ/AP5/nbproject/private/
/Semester_5/ECJ/AP5/build/
/Semester_5/ECJ/BP3/nbproject/private/
/Semester_5/Software Testing/BP3/nbproject/private/
/Semester_5/Software Testing/AP2/nbproject/private/
/Semester_5/Software Testing/AP5/nbproject/private/
/Semester_5/Software Testing/BP3/build/
/Semester_5/Software Testing/BP4/nbproject/private/
/Semester_5/Software Testing/BP4/build/
/Semester_5/Software Testing/CP1/nbproject/private/
/Semester_5/Software Testing/CP1/build/
/Semester_5/Software Testing/CP2/nbproject/private/
/Semester_5/Software Testing/CP2/build/
/Semester_5/Software Testing/CP/nbproject/private/
/Semester_5/Software Testing/cp/nbproject/private/
/Semester_5/Software Testing/CP/build/
/Semester_5/Software Testing/DP/nbproject/private/
/Semester_5/Software Testing/DP/build/
/Semester_5/Software Testing/Eatery/nbproject/private/
/Semester_5/Software Testing/Eatery/build/
/Semester_5/ECJ/CmpProject/nbproject/private/
/Semester_5/ECJ/CmpProject/CmpProject-war/nbproject/private/
/Semester_5/ECJ/CmpProject/CmpProject-ejb/nbproject/private/
/Semester_5/ECJ/CmpProject/CmpProject-ejb/build/
/Semester_5/ECJ/CmpProject/CmpProject-war/build/
/Semester_5/ECJ/CmpProject/CmpProject-ejb/dist/
/Semester_5/ECJ/CmpProject/build/
/Semester_5/ECJ/CmpProject/CmpProject-war/dist/
/Semester_5/ECJ/HP1/nbproject/private/
/Semester_5/ECJ/HP1/HP1-war/nbproject/private/
/Semester_5/ECJ/HP1/HP1-ejb/nbproject/private/
/Semester_5/ECJ/HP1/HP1-ejb/build/
/Semester_5/ECJ/HP1/HP1-ejb/dist/
/Semester_5/ECJ/HP1/HP1-war/build/
/Semester_5/ECJ/HP1/build/
/Semester_5/ECJ/HP1/HP1-war/dist/
/Semester_5/ECJ/HP2/nbproject/private/
/Semester_5/ECJ/HP2/HP2-war/nbproject/private/
/Semester_5/ECJ/HP2/HP2-ejb/nbproject/private/
/Semester_5/ECJ/HP2/HP2-ejb/build/
/Semester_5/ECJ/HP2/HP2-war/build/
/Semester_5/ECJ/HP2/build/
/Semester_5/ECJ/HP2/HP2-war/dist/
/Semester_5/ECJ/HP2/HP2-ejb/dist/
/Semester_5/ECJ/HP2/dist/
/Semester_5/ECJ/InternalPractical/nbproject/private/
/Semester_5/ECJ/InternalPractical/build/